//
// @retina-image($filename, $background-size, $extension*, $retina-filename*, $retina-suffix*, $asset-pipeline*)
// * = optional
// https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_retina-image.scss
//
// Example
// -------
// @include retina-image(home-icon, 32px 20px, jpg, @2x);

@mixin retina-image($filename, $background-size, $extension: png, $retina-filename: null, $retina-suffix: _2x, $asset-pipeline: $asset-pipeline) {
  background-image:       url("#{$filename}.#{$extension}");

  @include hidpi {
    @if $retina-filename {
      background-image: url("#{$retina-filename}.#{$extension}");
    } @else {
      background-image: url("#{$filename}#{$retina-suffix}.#{$extension}");
    }

    background-size: $background-size;
  }
}
